<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copy">
        &copy; 2014&ndash;{{ 'now'|date('Y') }} NetShell Ltd ({{ 'THEME.FOOTER.NETSHELL_BG'|t }}). {{ 'THEME.FOOTER.RIGHTS'|t }}
      </div>
      <ul class="footer__links">
        <li><a href="https://github.com/net-shell" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://linkedin.com/company/netshell" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://facebook.com/nsh.0001" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
